body {
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.color h2 {
  margin-bottom: 0%;
}

.color img {
  margin-right: 20px;
}

img {
  width: 200px;
  height: 200px;
}

.color-title {
  font-weight: normal;
}

#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}
